@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=McLaren&family=Shadows+Into+Light&display=swap');

{
    margin: 0;
    padding: 0;    
}
body{
    display:flex;
    flex-wrap: wrap;
    background: url('backgroundPNL.png') no-repeat center fixed;     
    background-size: cover;
}
header{
    height : 60px;
    width: 838px;
    background-size : cover;
    justify-content: flex-end;
    justify-content: flex-start;
    justify-content : space-evenly;
    flex-basis: 100%;
    margin-top: 0;
    padding-right: 170px;
    font-family: 'Montserrat', sans-serif;
}

nav {
    width : 100%;
    background-color: transparent;
  }
  
  nav > ul {
    margin : 0px;
    padding : 0px;
    padding-right : 30px;
    padding-top : 10px;
  }
  
  nav .header_button_each {
    list-style-type : none;
  }
  
  nav .header_button_album {
    list-style-type : none;
  }
  
  nav > ul > .header_button_each {
    float : right;
    position : relative;
  }
  
  nav >ul::after{
    content : "";
    display : table;
    clear : both;
  }
  
  .albums {
    display : none;
  }
  
  nav input[type=checkbox]{
    display : none;
  }
  
  nav label {
    display : none;
  }
  
  nav a{
    display : inline-block;
    text-decoration : none;
  }
  
  nav > ul > .header_button_each > a {
    padding : 10px 20px;
    color : white;
  }
  
  nav .header_button_each:hover .albums{
    display : inline-block;
    position : absolute;
    top : 100%;
    right : -200px;
    padding : 0px;
    z-index : 1000;
  }
  
  .albums .header_button_album a {
    padding : 15px 30px;
    font-size : 13px;
    color : white;
    width : 270px;
  }
  
  .albums .header_button_album a:hover {
    font-weight : bold;
  }
  
  nav .header_button_each a:hover{
    background-color : white;
    color : black;
    transition : all 0.6s;
  }





/*************************************************/

body {
    background-color: black;
    font-family: cursive;
}
  
.name {
    font-size: 40px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
  
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0e02b4, 0 0 40px #0e02b4, 0 0 50px #0e02b4, 0 0 60px #0e02b4, 0 0 70px #0e02b4;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #1204da, 0 0 40px #1204da, 0 0 50px #1204da, 0 0 60px #1204da, 0 0 70px #1204da, 0 0 80px #1204da;
    }
}


.name{

    display: block;
    margin-left: auto;
    margin-right: auto; 
    width : 100%;
    text-align: center;

}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
}

.img1{

    width: 30%;
    border-color: #ddd;
    border-radius: 30px;

}


.albumpage{
    display: flex;
    flex-wrap: row;
    flex-basis: 100%;
    justify-content: center;
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    *padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    margin: 0 0 0 2em;
}

.albumpage p{
    position: relative;
    display:block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: rgb(221, 221, 221);
    color: #444;
    text-decoration: none;
    border-radius: .5em;
}

.albumpage p:before{

    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.7em;
    top: 50%;
    margin-top: -1.3em;
    background: #0e02b4;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    color:rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 2em;

}

.Plateforms{

    display: block;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    width:100%;

}

.Logo{
    width:60px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    padding-right: 40px;
    padding-left: 40px;
}

.Logo:hover {
	-webkit-transform: scale(1.6);
	transform: scale(1.6);
}


/**************************************************************/



