@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=McLaren&family=Shadows+Into+Light&display=swap');
/*  FOOTER   */

.footer {
  width : 100%;
  background : #00121b;
  display : block;
}

.inner-footer {
  width : 95%;
  margin : auto;
  padding : 30px 10px;
  display : flex;
  flex-wrap : wrap;
  box-sizing: border-box;
  justify-content: center;
  text-align : justify;
  color : #B5BDFB;
}

.footer-items {
  width : 25%;
  padding : 10px 20px;
  box-sizing: border-box;
}

h1{
  padding : 5px 0;
  font-size: 25px;
  color : white;
  text-transform: uppercase;
}

.footer-item p {
  font-size: 16px;
  text-align: justify;
  line-height: 25px;
}

h2{
  margin : 10px 0;
  color : #9085C3;
  font-size :16px;
  font-weight: lighter;
  text-transform: uppercase;
}

.border {
  height : 2px;
  width : 105px;
  background : #B5BDFB;
}

.footer-list {
  list-style : none;
  color : white;
  font-size : 16px;
  letter-spacing: 0.5px;
}

.footer-list a {
  text-decoration : none;
  outline : none;
  color : white;
  transition : 0.3s;
}

.footer-list a:hover {
  color : #9085C3;
}

.footer-list li{
  margin : 10px 0;
  height : 25px;
}

li i {
  margin-right : 20px;
}

.social-media {
  width : 100%;
  color :white;
  text-align : center;
}

.social-media a {
  text-decoration : none;
}

.social-media i {
  height : 15px;
  width : 15px;
  margin : 20px 5px;
  padding : 10px;
  color : white;
  border-radius : 50%;
  border : 1px solid white;
  transition : 0.3s;
}

.social-media i:hover {
  background : #9085C3;
}

.footer-bottom {
  padding : 10px;
  color : white;
  font-size : 12px;
}

@media screen and (max-width : 1085px) {
  .footer-items {
    width : 50%;
  }
}

@media screen and (max-width : 600px) {
  .footer-items {
    width : 100%;
  }
}
